{
    margin: 10px;
    border-radius: 3px;
}
header{
    background-color: rgba(236, 233, 240, 0.507);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.juancho{
    display: grid;
    grid-template-columns: 25% 50% 22% ;
    grid-template-rows: auto 1px;
    gap: 1em;
    border: 2px solid black;
   padding: 1em;
   background-color: rgb(4,19,4);
   
}
aside{
    grid-column: 1/2;
    background-color: rgb(black);
    padding: 20px;
    border: 2px solid white;
    color: white;
}
section{
    grid-column: 2/4;
    background-color: rgb(black);
    padding: 20px;
    border: 2px solid white;
    color: white;
}
footer{
    text-align: center;
    background-color: white);
    color: black;
    padding: 20px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

@media  (max-width: 600px;) { 
    .menu  { 
        flex-direction: column; 
        align-items: flex-start;
    
}
  header {
      flex-direction: column;
      align-items: flex-start;
 
}
}

 

